/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto";
  font-display: swap;
}

:root {
  --primary: #1976d3;
  --primary-accent: #edf5ff;
  --background: #fafafa;
  --white: #ffffff;
  --success: #66bb6a;
  --success-accent: #defbe6;
  --custom-red: #dc1e3e;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* width: 100%; */
}

/* Add spacing for fixed navbar */
main {
  padding-top: 40px; /* Top bar height */
}

@media (max-width: 1024px) {
  main {
    padding-top: 0px; /* No top bar on mobile */
  }
}

#nprogress .bar {
  background-color: #000000 !important;
  height: 4px;
}

#nprogress .peg {
  box-shadow: 0 0 10px #000000, 0 0 5px #000000;
}

#nprogress .spinner {
  display: none;
}

#custom-code-component {
  all: unset;
}

html {
  overflow-y: scroll;
  scrollbar-gutter: stable;
}
